<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
        .container{
            width: 600px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>New User Registration: </h3>
        @model Validations
        <form asp-action="AddLogger" asp-controller="Home" method="post">
            <span style="color:red" asp-validation-for="fname"></span>
            <p>
                <label asp-for="fname">First Name: </label>
                <input type='text' asp-for='fname'>
            </p>
            <span style="color:red" asp-validation-for="lname"></span>
            <p>
                <label asp-for="lname">Last Name: </label>
                <input type='text' asp-for='lname'>
            </p>
            <span style="color:red" asp-validation-for="email"></span>
            <p>
                <label asp-for="email">Email: </label>
                <input type='text' asp-for='email'>
            </p>
            <span style="color:red" asp-validation-for="password"></span>
            <p>
                <label asp-for="password">Password: </label>
                <input type='password' asp-for='password'>
            </p>
            <span style="color:red" asp-validation-for="passconfirm"></span>
            <p>
                <label asp-for="passconfirm">Confirm Password: </label>
                <input type='password' asp-for='passconfirm'>
            </p>
            <p><input type='submit' value='Submit'></p>
        </form>
        <h3>Login: </h3>

        <form asp-action="Login" asp-controller="Home" method="post">
        <span style="color:red" asp-validation-for="email"></span>
            <p>
                <label asp-for="email">Email: </label>
                <input type='text' asp-for='email'>
            </p>
            <span style="color:red" asp-validation-for="password"></span>
            <p>
                <label asp-for="password">Password: </label>
                <input type='password' asp-for='password'>
            </p>
            <p><input type='submit' value='Submit'></p>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>